<section class="container m-auto">
  <div class="grid gap-3 bg-black/60 p-3 m-auto rounded-md sm:p-6 md:border md:border-white/50">
    <h2>Nuestra Misión</h2>
    <p>
      En Gestión de Países, nuestra misión es proporcionar una plataforma colaborativa y
      accesible donde los usuarios puedan descubrir, añadir, editar y gestionar información
      sobre los países del mundo. Creemos que el conocimiento compartido y la colaboración
      global son clave para un futuro mejor y más informado.
    </p>
    <h2>¿Qué Hacemos?</h2>
    <p>Nuestro sitio web permite a los usuarios:</p>
    <ul class="list-disc pl-4">
      <li>Ver una lista detallada de países con su información respectiva.</li>
      <li>Añadir nuevos países a nuestra base de datos.</li>
      <li>Editar la información existente para mantenerla actualizada y precisa.</li>
      <li>Eliminar países que ya no sean relevantes.</li>
    </ul>
    <h2>Nuestro Equipo</h2>
    <p>
      Somos un grupo apasionado de desarrolladores, investigadores y entusiastas del
      conocimiento que creemos en el poder de la información abierta. Trabajamos
      continuamente para mejorar y expandir nuestra base de datos para que sea una fuente
      confiable y útil para todos.
    </p>
    <h2>Únete a Nosotros</h2>
    <p>
      Te invitamos a unirte a nuestra comunidad. Ya sea contribuyendo con nuevos datos,
      actualizando información existente o simplemente explorando los países del mundo, tu
      participación es valiosa y bienvenida.
    </p>
  </div>
</section>