<section class="container m-auto">
  <div class="grid gap-3 bg-black/60 p-3 sm:p-6 sm:rounded-md sm:border sm:border-white/50">
    <h1 class="font-bold">Contactanos</h1>
    <p>
      ¡Tu opinión y colaboración son fundamentales para mantener nuestra
      base de datos actualizada y precisa! Si tienes alguna pregunta, sugerencia o
      necesitas asistencia, no dudes en contactarnos.
    </p>
    <hr />
    <h2 class="font-bold">¿Cómo Puedes Contactarnos?</h2>
    <p>
      <b>Correo Electrónico:</b> Puedes enviarnos un correo electrónico a
      <a href="mailto:foobar@foobar.com" class="link">foobar@foobar.com</a> para cualquier
      consulta, sugerencia o reporte de errores.
    </p>
    <p>
      <b>Redes Sociales:</b> Síguenos y mándanos un mensaje en nuestras redes sociales:
    </p>
    <ul class="list-disc pl-4">
      <li>Twitter: <a href="#" class="link">@PaisesHub</a></li>
      <li>Facebook: <a href="#" class="link">PaisesHub</a></li>
      <li>Instagram: <a href="#" class="link">@PaisesHub_Official</a></li>
    </ul>
    <hr />
    <h2 class="font-bold">Política de Respuesta</h2>
    <p>
      Nos comprometemos a responder a todas las consultas en un plazo de 48 horas.
      Agradecemos tu paciencia y tu interés en ayudar a mejorar nuestro sitio.
    </p>
  </div>
</section>