<section class="container mx-auto text-center p-3 sm:p-6">
  <h1 class="font-light p-6 text-center">BIENVENIDO</h1>
  <p>
    Aquí podrás descubrir, agregar, editar y gestionar información sobre países de manera
    sencilla y eficiente. Nuestra plataforma te permite acceder a una lista completa de
    países con sus respectivas informaciones detalladas, así como también colaborar
    añadiendo nuevos países, editando datos existentes o eliminando aquellos que ya no son
    relevantes.
  </p>
  <img src="/images/flags.png" alt="" class="w-full max-w-md m-auto" />
</section>
<section class="mx-auto p-3 sm:p-6">
  <div class="bg-black/60 rounded-md grid gap-6 text-center p-6">
    <h2>Empieza Ahora</h2>
    <div class="flex gap-6 justify-center">
      <a href="/paises" class="button">Ir al Dashboard</a>
    </div>
  </div>
</section>
