<!DOCTYPE html>
<html lang="en">
<%- include('partials/head'); -%>

<body class="flex min-h-full flex-col">
  <%- include('partials/header'); -%>
  <main class="flex-1 flex flex-col justify-start"><%- body %></main>
  <%- include('partials/footer'); -%>
</body>

</html>