@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* primary: "#B22222", */
  --primary-color: #0f2f6b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  color: white;
  height: 100dvh;
  min-width: 320px;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/background.jpg");
  background-blend-mode: darken;
  background-position: center 25%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@layer base {
  body {
    @apply bg-primary-background;
  }
  header,
  footer {
    @apply bg-primary text-white;
  }
  h1 {
    @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl;
  }
  h2 {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl;
  }
  h3 {
    @apply text-base sm:text-lg md:text-xl lg:text-2xl;
  }

  hr {
    @apply border-t border-black/25;
  }
  fieldset {
    @apply border border-solid border-black/50;
  }
  input {
    @apply p-1 rounded-md border border-black/50 text-black;
  }
}

@layer components {
  .link {
    @apply border-b-2 border-blue-500 hover:border-blue-300;
  }

  .button {
    @apply px-4 py-2 rounded-md bg-primary text-white font-bold transition duration-200 hover:bg-white/90 hover:text-black border-2 border-transparent hover:border-primary;
  }
  .h1 {
    @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl;
  }
  .h2 {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl;
  }
  .h3 {
    @apply text-base sm:text-lg md:text-xl lg:text-2xl;
  }
  .hint {
    @apply text-sm text-gray-400;
  }
}
